@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --background-main: #edf4f7;
  --background-side: #f4f8fa;
  --primary-blue: #32444d;
  --secondary-blue: #b3c3cc;
  --primary-orange: #ff6719;
  --secondary-orange: #ffaa80;
}

body {
  font-family: Merriweather;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--background-main);
  color: var(--primary-blue);
  width: 620px;
  display: grid;
  grid-template-columns: 320px 1fr;
  min-height: 100vh;
}

nav {
  background-color: var(--background-side);
  padding: 48px;
}

main {
  padding: 48px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  color: var(--secondary-blue);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 24px 0 0 0;
}

p {
  margin: 0px 0 0 0;
}

rect {
  fill: var(--primary-orange);
  cursor: pointer;
  transition: fill 0.25s
}


circle {
  stroke-width: 10px;
  cursor: pointer
}

circle:hover {
  fill: var(--primary-orange)
}

text {
  fill: var(--secondary-orange);
  text-anchor: middle;
  font-size: 14px;
}

rect:hover {
  fill: var(--primary-blue)
}

text.steps {
  opacity: 0;
  transition: opacity 0.25s;
}

g:hover text.steps {
  opacity: 1;
}

rect.transparent {
  opacity: 0
}

circle.ring {
  fill: none;
  stroke: var(--secondary-blue);
  stroke-width: 2px;
  opacity: 0.25
}


text.day {
  opacity: 1;
  transition: opacity 0.25s
}

g:hover text.day {
  opacity: 0
}

svg.month text {
  fill: var(--primary-blue)
}